// SHOWCASE
.showcase{
  height: 400px;
  background-color: $primaryColor;
  color: $lightColor;
  position: relative;
 
  .container{
    @include container();
    .showcase-text-wrap{
      h1{
        font-size: 40px;
      }
      p{
        margin: 20px 0;
      }
    
    }
  }
  .showcase-form{
    position: relative;
    height: 350px;
    width: 400px;
    top: 60px;
    padding: 40px;
    justify-self: end;
    z-index: 100;
    .form-control{
      margin: 30px 0;
      input[type="text"], input[type="email"]{
        border: 0;
        border-bottom: 1px solid #b4becb;
        width: 100%;
        padding: 0.5rem;
        &:focus{
          outline: none;
        }
      }
    
    }
  }
  // utilities
  .card{
    color: #333;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px; // menambah margin akan membuat lebar card mengecil
  
  }
  .grid{
    @include grid();
    grid-template-columns: 55% 45%;
    gap: 30px;
    overflow: visible;
  }

  // PSUEDO ELEMEN
  &::before, &::after{
    content: "";
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background-color: #fff;
    transform: skewY(-3deg); // skewY memutar sebanyak 3derajat
    -webkit-transform: skewY(-3deg); // memastikan property tsb berjalan di semua browser
    -ms-transform: skewY(-3deg); // browser microsoft

  }
}
// END SHOWCASE